.header{
   padding: 5px 15px;
   display: flex;
   justify-content: space-between;
   position: sticky;
   background: #fff; 
   z-index:20;
   top: 0;
   box-shadow: 1px 1px 3px gray;
}
.header-left{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header-logo img{
  height: 35px;
  border-radius: 50%;
  
 }
 .header-input {
   display: flex;
   align-items: center;
   padding: 5px;
 }
   .header-input input{
     outline: none;
    padding: 10px;
    margin-left: 10px;
     border: 0;
     background: #eff2f5;
     padding: 0 5px;
     border-radius: 15px;
     
   }
   .search-input{
     position: relative;
     z-index: -1;
     padding: 3px 30px !important;
     
   }
   .searchicon{
    position: absolute;
    top: 13px;
    left: 74px;
    right: 40px;
    bottom: 0;
   }
  .header-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
  .header-opction{
    display:flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
  }
  .headermdiileicon{
    color: gray;
  }
   .headermdiileicon:hover{
     color: #2e81f4;
   }
   .active{
    color: #2e81f4;
    border-bottom: 4px solid #2e81f4;
    padding: 3px;
   }
   .person-img{
     height: 35px;
     border-radius: 50%;
   }
   .header-info{
     display: flex;
     align-items: center;
      
   }
   .header-right-icon i{
     padding: 0px 15px;
   }
   .profile-name{
     display: flex;
     align-items: center;
     margin-left: 3px;
     justify-content: center;
   }
   /* saidbar */
   .sidebar{
     margin-top: 10px;
     height: 500px;
   }
   .sidebarleft{
     background: rgb(244, 244, 243);
     height: 400px;
     cursor: pointer;
   }

   .sidbar-opsation{
     display: flex;
     align-items: center;
  transition: .3s;
   }
   .sidbar-opsation:hover{
     background: lightgray;
     border-radius: 10px;
   }
  
   .sidebar-name{
     margin-left: 10px;
     font-size: 18px;
     font-weight: 400;
     color: #2e81f4;
     text-transform: capitalize;
   }
   .leftsidebericons{
     font-size: 19px;
     
   }
   .sidebar-middle{
     background: green;
     height: 400px;
   }
   .sidbar-right{
     background: rgba(162, 186, 215, 0.75);
     height: 400px;
   }

   /* middle */
   .story{
      
     height: 156px;
   }

   .story-opsation{
     height: 160px;
     width: 100%;
      position: relative;
      margin-right: 5px;
   }
   .story-person{
     display: flex;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin-right: 5px;
 
   }  
   .storyimg{
    height: 100%;
   width: 100%;
   border-radius: 10px;
 }
.story-img{
  height: 20px;
  border-radius: 20px;
}
.story-name{
  font-size: 12px;
  width: 100%;
  color: #fff;
  margin-left: 3px;
}

  