.header{
  height: 40px;
   text-align: center;
 
  margin-top: 10px;
  box-shadow: 1px 1px 3px gray;
}
.header-left{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header-logo img{
  height: 35px;
  border-radius: 50%;
  
 }
 .header-input {
   display: flex;
   align-items: center;
   padding: 5px;
 }
   .header-input input{
     outline: none;
     border-radius: 15px;
     
   }
  .header-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
  .header-opction{
    display:flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
  }
  .fa-solid{
    color: gray;
  }
   .fa-solid:hover{
     color: #2e81f4;
   }
   .active{
    color: #2e81f4;
    border-bottom: 4px solid #2e81f4;
    padding: 3px;
   }
   .person-img{
     height: 40px;
     border-radius: 50%;
   }
   .header-info{
     display: flex;
     align-items: center;
      
   }
   .header-right-icon i{
     padding: 0px 15px;
   }
   .profile-name{
     display: flex;
     align-items: center;
     margin-left: 3px;
     justify-content: center;
   }